<script type="text/javascript" src="/static/js/lib/jquery/jquery-ui.min.js"></script>
<link  rel="stylesheet" href="/static/css/jquery-ui.css" />     


<div class="container">
<div class="row">
  <div class="span12">
    <p><a href="../../../summary/{{exam_path}}/">summary</a></p>
    <h3>{{title}}</h3>
    <table class="table">
      <tr>

      </tr>      
      <tr>
        <td>
            <b>total:</b>{{use_number}}&nbsp;questions,&nbsp;&nbsp;<b>each:</b>{{per_score}} score,
        </td>
      </tr>
      <tr>
        <td>
        <b>name:</b>{{name}}&nbsp;&nbsp;
        <b>sn:</b>{{snid}}&nbsp;&nbsp;
        <b>notes:</b>{{notesid}}
        </td>
      </tr>
      <td>
            <b>&nbsp;</b>
      </td>
    </table>

    <pre>
{{scorecontent}}
    </pre>



  </div>
</div>
</div>
%rebase base.htm title="fast examination",user=user
