<div class="container">
<div class="row">
  <div class="span12">



    <form id="form1" name="form1"  class="form-horizontal"  method="POST" action=".">
    
    
    <div class="control-group">
      <label class="control-label" for="inputPassword">
        name:
      </label>
      <div class="controls">
        <input type="text" name="title" id="title" value="" maxlength="200" style="width:600px;"> 
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">
        content:
      </label>
      <div class="controls">
      
          <textarea name="content" rows="20" cols="120"  class="input-xxlarge" style="width:600px;" ></textarea>
               <br/>
      </div>
    </div>

    
    <div class="control-group">
      <label class="control-label" for="inputPassword">
        add:
      </label>
      <div class="controls">
        <input type="submit" name="button" id="button" value="generate">
      </div>
    </div>
    
    </form>



  </div>
</div>
</div>
%rebase base.htm title="fast examination",user=user
