<div class="container">
<div class="row">
  <div class="span12">
    <p><a href="/fastexam/">main</a></p>
    <table class="table">
      <tr>
        <td>
            <b>{{title}}</b>
        </td>
      </tr>      
      <tr>
        <td>
            <b>total:</b>{{use_number}}&nbsp;questions,&nbsp;&nbsp;<b>each:</b>{{per_score}} score,
        </td>
      </tr>
      <tr>
        <td>
        <b>name:</b>{{name}}&nbsp;&nbsp;
        <b>sn:</b>{{snid}}&nbsp;&nbsp;
        <b>notes:</b>{{notesid}}
        </td>
      </tr>
    <p>
    </table>
   <p> &nbsp;</p>
   <h2>Your score: {{ score }} </h3>



  </div>
</div>
</div>
%rebase base.htm title="fast examination",user=user
