<script language="javascript">
    function prom(href)
    { 
      if(confirm("Are you sure to delete?")==true)
      {
      location.href=href; 
      }
    }

</script>


<div class="container">
<div class="row">
  <div class="span12">
      <p><a href="/fastexam/">main</a></p>
      <h3>{{title}}</h3>
      <h3>total:{{number}}&nbsp;questions,&nbsp;&nbsp;each:{{per_score}} score,&nbsp;&nbsp;
    	</h3>
          
      <table class="table">
          <th>
               <td>name</td>
               <td>sn</td>
               <td>notesid</td>
               <td>score</td>
          </th>
          %for student in students:
          <tr>
               <td><a onClick="prom('../../delscore/{{exam_path}}/{{student[4]}}/')" href="#">del</a></td>
               <td>{{student[0]}}</td>
               <td>{{student[1]}}</td>
               <td>{{student[2]}}</td>
               <td>{{student[3]}}</td>
          </tr>
          %end
      </table>
  </div>
</div>
</div>
%rebase base.htm title="fast examination",user=user
