<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{title or 'No title'}}</title>
        <script type="text/javascript" src="/static/js/lib/jquery/jquery.js"></script>     
        <link href="/static/css/bootstrap.css" rel="stylesheet">
<STYLE TYPE="text/css">

      html,body,#head2 {height: 95%;}
      body > #head2 {height: auto; min-height:100%;} // If height of body is smaller than height of the brower, the foot will at bottom of the brower
      #main2 {
         overflow: auto;
         padding-bottom: 40px;
       } // You must make the height the same as height of foot
     #foot2 {
         position: relative;
         margin-top: -40px; // negative value of foot height 
         height: 40px;
         clear: both;
       }

</STYLE>
    </head>
    <body>
    <div id="head2">
    <div id="main2">
    %include header.htm user=user
    %include    
    </div>
    </div>
    <div id="foot2">
    %include boot.htm year="2012"
    </div>
    </body> 
</html>     
