<div class="container">
<div class="row">
  <div class="span12">

    <p><a href="/search/">USS search </a></p>
    <p><a href="/users/">user manage system</a></p>
    <p><a href="/todo/todo">todo</a></span></p>
    
    <p><a href="/ascii/">ascii art</a></p>
    <p><a href="/comment/">comment format</a></p>
    <p><a href="/static/share/kilowattsoftware/index.htm">Rexx manual</a></p>
    <!-- <p><a href="/static/share/Anaheim.htm">Share in Anaheim 2012</a></p>  -->
    <p><a href="/dinner/">dinner reserve</a></p>
    <p><span class="badge"><a href="/ringmap">meeting rooms of Ring building</a></span></p>
    <p><a href="/Intern2013/">SVT3 Intern 2013</a></span></p>
    <p><a href="/USSdefect/">uss defect stat</a></p>
    <p><span class="badge badge-warning">z/OS document share</span></p>
    <ul>
       <li><a href="/ftp/public/SHARE/Feb 2011 Anaheim/index.htm">Feb 2011 Anaheim</a></li>
       <li><a href="/ftp/public/SHARE/Aug 2011 Orlando/index.htm">Aug 2011 Orlando</a></li>
       <li><a href="/ftp/public/SHARE/Feb 2012 Atlanta/index.htm">Feb 2012 Atlanta</a></li>
       <li><a href="/ftp/public/SHARE/Aug 2012 Anaheim/index.htm">Aug 2012 Anaheim</a></li>
       <li><a href="/ftp/public/SHARE/Feb 2013 San Francisco/index.htm">Feb 2013 San Francisco</a></li>
    </ul>
    <p><a href="/myqrcode/">two-dimensional barcode(matrix barcode)</a></p>
    <p><a href="/fastexam/">fast examination</a></p>

  </div>
</div>
</div>
%rebase base.htm title="welcome to USS FVT's site",user=user
