<div class="container">
<div class="row">
  <div class="span12">

    <p><a href="/search/">USS search </a></p>
    <p><a href="/users/">user manage system</a></p>
    <p><a href="/todo/todo">todo</a></span></p>
    
    <p><a href="/ascii/">ascii art</a></p>
    <p><a href="/comment/">comment format</a></p>
    <p><a href="/static/share/kilowattsoftware/index.htm">Rexx manual</a></p>
    <p><a href="/static/share/Anaheim.htm">Share in Anaheim 2012</a></p>
    <p><a href="/dinner/">dinner reserve</a></p>
    <p><span class="badge"><a href="/ringmap">meeting rooms of Ring building</a></span></p>
    <p><span class="badge badge-warning"><a href="/Intern2013/">SVT3 Intern 2013</a></span></p>
  </div>
</div>
</div>
%rebase base.htm title="welcome to USS FVT's site",user=user
