<div class="container">
<div class="row">
  <div class="span12">
    <div id="map3f">
      <div id="searchdiv"> 
        3nd Floor of Ring Building
        <input id="roomname" type="text"/>
        <input type="submit" value="search"/>
      </div>
      <hr>
      <img src="/static/pics/ring_3f.jpg">
      <div id="m1" style="position: relative; left: 45px; top: -1186px; z-index=5000">53101</div>
      <div id="m2" style="position: relative; left: 45px; top: -1181px; z-index=5000">53102</div>
      <div id="m3" style="position: relative; left: 45px; top: -1176px; z-index=5000">53103</div>
      <div id="m4" style="position: relative; left: 45px; top: -1171px; z-index=5000">53104</div>
      <div id="m5" style="position: relative; left: 45px; top: -1166px; z-index=5000">53105</div>
      <div id="m6" style="position: relative; left: 45px; top: -1161px; z-index=5000">53106</div>

      <div id="m7" style="position: relative; left: 45px; top: -983px; z-index=5000">53107</div>
      <div id="m8" style="position: relative; left: 45px; top: -979px; z-index=5000">53108</div>
      <div id="m9" style="position: relative; left: 45px; top: -975px; z-index=5000">53109</div>
      <div id="m10" style="position: relative; left: 45px; top: -971px; z-index=5000">53110</div>
      <div id="m11" style="position: relative; left: 45px; top: -967px; z-index=5000">53111</div>
      <div id="m12" style="position: relative; left: 45px; top: -961px; z-index=5000">53112</div>
      <div id="m13" style="position: relative; left: 45px; top: -957px; z-index=5000">53113</div>
      <div id="m14" style="position: relative; left: 45px; top: -953px; z-index=5000">53114</div>
      <div id="m15" style="position: relative; left: 45px; top: -949px; z-index=5000">53115</div>
      <div id="m16" style="position: relative; left: 45px; top: -945px; z-index=5000">53116</div>
      <div id="m17" style="position: relative; left: 45px; top: -940px; z-index=5000">53117</div>

      <div id="m18" style="position: relative; left: 45px; top: -825px; z-index=5000">53118</div>
      <div id="m19" style="position: relative; left: 45px; top: -821px; z-index=5000">53118</div>
      <div id="m20" style="position: relative; left: 45px; top: -817px; z-index=5000">53118</div>
      <div id="m21" style="position: relative; left: 45px; top: -813px; z-index=5000">53118</div>
      <div id="m22" style="position: relative; left: 45px; top: -807px; z-index=5000">53118</div>
      <div id="m23" style="position: relative; left: 45px; top: -803px; z-index=5000">53118</div>
      <div id="m24" style="position: relative; left: 45px; top: -799px; z-index=5000">53118</div>
      <div id="m25" style="position: relative; left: 45px; top: -793px; z-index=5000">53118</div>
      <div id="m26" style="position: relative; left: 45px; top: -789px; z-index=5000">53118</div>
      <div id="m27" style="position: relative; left: 45px; top: -785px; z-index=5000">53118</div>
      <div id="m28" style="position: relative; left: 45px; top: -781px; z-index=5000">53118</div>
      <div id="m29" style="position: relative; left: 45px; top: -775px; z-index=5000">53118</div>
      <div id="m30" style="position: relative; left: 45px; top: -771px; z-index=5000">53118</div>

      <div id="m31" style="position: relative; left: 940px; top: -1444px; z-index=5000">unkown</div>
      <div id="m32" style="position: relative; left: 940px; top: -1439px; z-index=5000">unkown</div>
      <div id="m33" style="position: relative; left: 940px; top: -1434px; z-index=5000">unkown</div>

      <div id="m34" style="position: relative; left: 940px; top: -1364px; z-index=5000">unkown</div>
      <div id="m35" style="position: relative; left: 940px; top: -1360px; z-index=5000">unkown</div>
      <div id="m36" style="position: relative; left: 940px; top: -1356px; z-index=5000">unkown</div>
      <div id="m37" style="position: relative; left: 940px; top: -1350px; z-index=5000">unkown</div>
      <div id="m38" style="position: relative; left: 940px; top: -1346px; z-index=5000">unkown</div>
      <div id="m39" style="position: relative; left: 940px; top: -1342px; z-index=5000">unkown</div>
      <div id="m40" style="position: relative; left: 940px; top: -1338px; z-index=5000">unkown</div>
      <div id="m41" style="position: relative; left: 940px; top: -1333px; z-index=5000">unkown</div>
      <div id="m42" style="position: relative; left: 940px; top: -1329px; z-index=5000">unkown</div>
      <div id="m43" style="position: relative; left: 940px; top: -1325px; z-index=5000">unkown</div>
      <div id="m44" style="position: relative; left: 940px; top: -1320px; z-index=5000">unkown</div>

      <div id="m45" style="position: relative; left: 940px; top: -1252px; z-index=5000">unkown</div>
      <div id="m46" style="position: relative; left: 940px; top: -1248px; z-index=5000">unkown</div>
      <div id="m47" style="position: relative; left: 940px; top: -1243px; z-index=5000">unkown</div>
      <div id="m48" style="position: relative; left: 940px; top: -1238px; z-index=5000">unkown</div>


    </div>
  </div>
</div>
</div>
%rebase base.htm title="Meeting room look up",user=user
