<script type="text/javascript" src="/static/js/lib/jquery/jquery-ui.min.js"></script>
<link  rel="stylesheet" href="/static/css/jquery-ui.css" />      

<style>
.focusroom {
  font-size: 18px; 
  color: rgba(82, 168, 236, 0.8);

}

</style>

<script type="text/javascript" language="javascript">

var searchroom = function (inputobj){

       roomname = $(inputobj).attr("value");
   
       meetingrooms = $(".meetingroom");
       existflag = false;
       for(i=0; i<meetingrooms.length; i++)
       {
   
          if(meetingrooms[i].textContent == roomname)
          {
             existflag = true;
             targetid = meetingrooms[i].id;
             //alert("find!" + targetid);
             meetingrooms[i].scrollIntoView();
             //top1 = meetingrooms[i].offsetTop;
             //window.scrollTo(0,top1);

             classname2 = meetingrooms[i].className;
             if(classname2.indexOf("focusroom") < 0 ) 
             {
                 meetingrooms[i].className = classname2 + " focusroom";
             }
             break;
          }
       }
       if(existflag == false)
       {
             alert("cound not found " + roomname);
       }

}

$(document).ready(function() {

  // search when press enter
  $("#roomname").bind('keydown', function (e) {

    var key = e.which;
    if (key == 13) {

        searchroom( $(this) );
   
    }
  }).focus();   // focus on text input 

  //search when press button
  $("#roomsubmit").click(function(){
    
       searchroom( $("#roomname") );

  });

   // autocomplete for meeting room's name
   $(function() {
        var availableTags = [
          "Training room 1", "Training room 2", "Training room 3", "Training room 4",

          "51101","51102","51103","51104","51105","51106","51107","51108","51109","51110","51111",
         
          "51201","51202","51203","51204","51205","51206","51207","51208","51209","51210",
          "51211","51212","51213","51214","51215","51216","51217","51218","51219","51220",
          "51221","51222","51223","51224","51225","51226","51227","51228","51229","51230",
          "51231","51232","51233","51234","51235","51236","51237","51238",        
          "51241","51242","51243","51244","51245","51246","51247","51248","51249","51250",

                  "51302","51303","51304","51305","51306","51307","51308","51309","51310",
          "51311",
                  "51322","51323","51324","51325","51326","51327","51328","51329","51330",
          "51331","51332","51333","51334","51335","51336","51337","51338","51339","51340",
          "51341","51342","51343","51344","51345","51346","51347","51348","51349","51350",
          "51351","51352","51353","51354","51355","51356","51357","51358"
        ];
        $( "#roomname" ).autocomplete({
           source: availableTags
        });
    });
 

});

</script>

<div class="container">
<div class="row">
  <div class="span12">
    <div id="map3f">
      <div id="searchdiv"> 
        Meeting rooms of Ring Building
        <input id="roomname" type="text" value=""/>
        <input id="roomsubmit" type="button" value="search"/>
      </div>
      <hr>
      <img src="/static/pics/maps/ring_3f.jpg">
      <div class="meetingroom" id="m301" style="position: relative; left: 45px; top: -1186px; z-index=5000">51338</div>
      <div class="meetingroom" id="m302" style="position: relative; left: 45px; top: -1181px; z-index=5000">51337</div>
      <div class="meetingroom" id="m303" style="position: relative; left: 45px; top: -1176px; z-index=5000">51336</div>
      <div class="meetingroom" id="m304" style="position: relative; left: 45px; top: -1171px; z-index=5000">51334</div>
      <div class="meetingroom" id="m305" style="position: relative; left: 45px; top: -1166px; z-index=5000">51335</div>
      <div class="meetingroom" id="m306" style="position: relative; left: 45px; top: -1161px; z-index=5000">51333</div>

      <div class="meetingroom" id="m307" style="position: relative; left: 45px; top: -983px; z-index=5000">51330</div>
      <div class="meetingroom" id="m308" style="position: relative; left: 45px; top: -979px; z-index=5000">51329</div>
      <div class="meetingroom" id="m309" style="position: relative; left: 45px; top: -975px; z-index=5000">51328</div>
      <div class="meetingroom" id="m310" style="position: relative; left: 45px; top: -971px; z-index=5000">51327</div>
      <div class="meetingroom" id="m311" style="position: relative; left: 45px; top: -967px; z-index=5000">51331</div>
      <div class="meetingroom" id="m312" style="position: relative; left: 45px; top: -961px; z-index=5000">51326</div>
      <div class="meetingroom" id="m313" style="position: relative; left: 45px; top: -957px; z-index=5000">51332</div>
      <div class="meetingroom" id="m314" style="position: relative; left: 45px; top: -953px; z-index=5000">51325</div>
      <div class="meetingroom" id="m315" style="position: relative; left: 45px; top: -949px; z-index=5000">51324</div>
      <div class="meetingroom" id="m316" style="position: relative; left: 45px; top: -945px; z-index=5000">51323</div>
      <div class="meetingroom" id="m317" style="position: relative; left: 45px; top: -938px; z-index=5000">51322</div>
      <div class="meetingroom" id="m318" style="position: relative; left: 45px; top: -933px; z-index=5000">51340</div>

      <div class="meetingroom" id="t3"  style="position: relative; left: 45px; top: -813px; z-index=5000">Training room 3</div>
      <div class="meetingroom" id="t4"  style="position: relative; left: 45px; top: -793px; z-index=5000">Training room 4</div>

      <div class="meetingroom" id="m319" style="position: relative; left: 45px; top: -717px; z-index=5000">51347</div>
      <div class="meetingroom" id="m320" style="position: relative; left: 45px; top: -713px; z-index=5000">51346</div>
      <div class="meetingroom" id="m321" style="position: relative; left: 45px; top: -707px; z-index=5000">51345</div>
      <div class="meetingroom" id="m322" style="position: relative; left: 45px; top: -702px; z-index=5000">51341</div>
      <div class="meetingroom" id="m323" style="position: relative; left: 45px; top: -698px; z-index=5000">51348</div>
      <div class="meetingroom" id="m324" style="position: relative; left: 45px; top: -694px; z-index=5000">51342</div>
      <div class="meetingroom" id="m325" style="position: relative; left: 45px; top: -690px; z-index=5000">51344</div>
      <div class="meetingroom" id="m326" style="position: relative; left: 45px; top: -686px; z-index=5000">51343</div>
      <div class="meetingroom" id="m327" style="position: relative; left: 45px; top: -682px; z-index=5000">51349</div>
      <div class="meetingroom" id="m328" style="position: relative; left: 45px; top: -678px; z-index=5000">51350</div>
      <div class="meetingroom" id="m329" style="position: relative; left: 45px; top: -673px; z-index=5000">51351</div>
      <div class="meetingroom" id="m330" style="position: relative; left: 45px; top: -668px; z-index=5000">51352</div>

      <div class="meetingroom" id="m331" style="position: relative; left: 940px; top: -1494px; z-index=5000">unkown</div>
      <div class="meetingroom" id="m332" style="position: relative; left: 940px; top: -1489px; z-index=5000">51339</div>
      <div class="meetingroom" id="m333" style="position: relative; left: 940px; top: -1484px; z-index=5000">51358</div>

      <div class="meetingroom" id="m334" style="position: relative; left: 940px; top: -1414px; z-index=5000">51302</div>
      <div class="meetingroom" id="m335" style="position: relative; left: 940px; top: -1410px; z-index=5000">51303</div>
      <div class="meetingroom" id="m336" style="position: relative; left: 940px; top: -1406px; z-index=5000">51304</div>
      <div class="meetingroom" id="m337" style="position: relative; left: 940px; top: -1400px; z-index=5000">51305</div>
      <div class="meetingroom" id="m338" style="position: relative; left: 940px; top: -1396px; z-index=5000">51354</div>
      <div class="meetingroom" id="m339" style="position: relative; left: 940px; top: -1382px; z-index=5000">51356</div>
      <div class="meetingroom" id="m340" style="position: relative; left: 940px; top: -1378px; z-index=5000">51353</div>
      <div class="meetingroom" id="m341" style="position: relative; left: 940px; top: -1373px; z-index=5000">51357</div>
      <div class="meetingroom" id="m342" style="position: relative; left: 940px; top: -1369px; z-index=5000">51307</div>
      <div class="meetingroom" id="m343" style="position: relative; left: 940px; top: -1365px; z-index=5000">51306</div>
      <div class="meetingroom" id="m344" style="position: relative; left: 940px; top: -1360px; z-index=5000">51308</div>

      <div class="meetingroom" id="m345" style="position: relative; left: 940px; top: -1282px; z-index=5000">51355</div>
      <div class="meetingroom" id="m346" style="position: relative; left: 940px; top: -1278px; z-index=5000">51309</div>
      <div class="meetingroom" id="m347" style="position: relative; left: 940px; top: -1273px; z-index=5000">51310</div>
      <div class="meetingroom" id="m348" style="position: relative; left: 940px; top: -1268px; z-index=5000">51311</div>


      <hr>
      <img src="/static/pics/maps/ring_2f.jpg">
      <div class="meetingroom" id="t1"  style="position: relative; left: 45px; top: -1186px; z-index=5000">Training room 1</div>
      <div class="meetingroom" id="t2"  style="position: relative; left: 45px; top: -1170px; z-index=5000">Training room 2</div>

      <div class="meetingroom" id="m201" style="position: relative; left: 65px; top: -1133px; z-index=5000">51241</div>
      <div class="meetingroom" id="m202" style="position: relative; left: 65px; top: -1123px; z-index=5000">51242</div>
      <div class="meetingroom" id="m203" style="position: relative; left: 65px; top: -1113px; z-index=5000">51243</div>
      <div class="meetingroom" id="m204" style="position: relative; left: 65px; top: -1103px; z-index=5000">51244</div>
      <div class="meetingroom" id="m205" style="position: relative; left: 65px; top: -1093px; z-index=5000">51245</div>
      <div class="meetingroom" id="m206" style="position: relative; left: 65px; top: -1087px; z-index=5000">51238</div>
      <div class="meetingroom" id="m207" style="position: relative; left: 65px; top: -1077px; z-index=5000">51237</div>
      <div class="meetingroom" id="m208" style="position: relative; left: 65px; top: -1067px; z-index=5000">51234</div>
      <div class="meetingroom" id="m209" style="position: relative; left: 65px; top: -1057px; z-index=5000">51232</div>
      <div class="meetingroom" id="m210" style="position: relative; left: 65px; top: -1048px; z-index=5000">51233</div>
      <div class="meetingroom" id="m211" style="position: relative; left: 65px; top: -1038px; z-index=5000">51236</div>
      <div class="meetingroom" id="m212" style="position: relative; left: 65px; top: -1028px; z-index=5000">51235</div>

      <div class="meetingroom" id="m213" style="position: relative; left: 65px; top: -907px; z-index=5000">51250</div>
      <div class="meetingroom" id="m214" style="position: relative; left: 65px; top: -897px; z-index=5000">51249</div>
      <div class="meetingroom" id="m215" style="position: relative; left: 65px; top: -887px; z-index=5000">51231</div>
      <div class="meetingroom" id="m216" style="position: relative; left: 65px; top: -877px; z-index=5000">51229</div>
      <div class="meetingroom" id="m217" style="position: relative; left: 65px; top: -867px; z-index=5000">51230</div>

      <div class="meetingroom" id="m218" style="position: relative; left: 65px; top: -805px; z-index=5000">51221</div>
      <div class="meetingroom" id="m219" style="position: relative; left: 65px; top: -795px; z-index=5000">51222</div>
      <div class="meetingroom" id="m220" style="position: relative; left: 65px; top: -785px; z-index=5000">51223</div>
      <div class="meetingroom" id="m221" style="position: relative; left: 65px; top: -775px; z-index=5000">51228</div>
      <div class="meetingroom" id="m222" style="position: relative; left: 65px; top: -765px; z-index=5000">51227</div>
      <div class="meetingroom" id="m223" style="position: relative; left: 65px; top: -757px; z-index=5000">51225</div>
      <div class="meetingroom" id="m224" style="position: relative; left: 65px; top: -745px; z-index=5000">51226</div>
      <div class="meetingroom" id="m225" style="position: relative; left: 65px; top: -735px; z-index=5000">51224</div>
      <div class="meetingroom" id="m226" style="position: relative; left: 65px; top: -725px; z-index=5000">51220</div>
      <div class="meetingroom" id="m227" style="position: relative; left: 65px; top: -715px; z-index=5000">51219</div>
      <div class="meetingroom" id="m228" style="position: relative; left: 65px; top: -706px; z-index=5000">51218</div>
      <div class="meetingroom" id="m229" style="position: relative; left: 65px; top: -697px; z-index=5000">51217</div>
      <div class="meetingroom" id="m230" style="position: relative; left: 65px; top: -687px; z-index=5000">51216</div>

      <div class="meetingroom" id="m231" style="position: relative; left: 940px; top: -1734px; z-index=5000">51202</div>
      <div class="meetingroom" id="m232" style="position: relative; left: 940px; top: -1724px; z-index=5000">51201</div>
      <div class="meetingroom" id="m233" style="position: relative; left: 940px; top: -1714px; z-index=5000">51203</div>

      <div class="meetingroom" id="m234" style="position: relative; left: 940px; top: -1534px; z-index=5000">51246</div>
      <div class="meetingroom" id="m235" style="position: relative; left: 940px; top: -1524px; z-index=5000">51207</div>
      <div class="meetingroom" id="m236" style="position: relative; left: 940px; top: -1514px; z-index=5000">51208</div>
      <div class="meetingroom" id="m237" style="position: relative; left: 940px; top: -1505px; z-index=5000">51209</div>
      <div class="meetingroom" id="m238" style="position: relative; left: 940px; top: -1495px; z-index=5000">51205</div>
      <div class="meetingroom" id="m239" style="position: relative; left: 940px; top: -1485px; z-index=5000">51204</div>
      <div class="meetingroom" id="m240" style="position: relative; left: 940px; top: -1475px; z-index=5000">51206</div>

      <div class="meetingroom" id="m241" style="position: relative; left: 940px; top: -1378px; z-index=5000">51211</div>
      <div class="meetingroom" id="m242" style="position: relative; left: 940px; top: -1368px; z-index=5000">51210</div>
      <div class="meetingroom" id="m243" style="position: relative; left: 940px; top: -1358px; z-index=5000">51212</div>
      <div class="meetingroom" id="m244" style="position: relative; left: 940px; top: -1347px; z-index=5000">51248</div>
      <div class="meetingroom" id="m245" style="position: relative; left: 940px; top: -1337px; z-index=5000">51247</div>
      <div class="meetingroom" id="m246" style="position: relative; left: 940px; top: -1328px; z-index=5000">51214</div>
      <div class="meetingroom" id="m247" style="position: relative; left: 940px; top: -1319px; z-index=5000">51213</div>
      <div class="meetingroom" id="m248" style="position: relative; left: 940px; top: -1310px; z-index=5000">51215</div>


      <hr>
      <img src="/static/pics/maps/ring_1f.jpg">
      <div class="meetingroom" id="m101" style="position: relative; left: 65px; top: -366px; z-index=5000">51111</div>
      <div class="meetingroom" id="m102" style="position: relative; left: 65px; top: -356px; z-index=5000">51110</div>
      <div class="meetingroom" id="m103" style="position: relative; left: 65px; top: -346px; z-index=5000">51109</div>
      <div class="meetingroom" id="m104" style="position: relative; left: 65px; top: -336px; z-index=5000">51108</div>
      <div class="meetingroom" id="m105" style="position: relative; left: 65px; top: -327px; z-index=5000">51107</div>
      <div class="meetingroom" id="m106" style="position: relative; left: 65px; top: -317px; z-index=5000">51106</div>

      <div class="meetingroom" id="m107" style="position: relative; left: 940px; top: -533px; z-index=5000">51101</div>
      <div class="meetingroom" id="m108" style="position: relative; left: 940px; top: -523px; z-index=5000">51105</div>
      <div class="meetingroom" id="m109" style="position: relative; left: 940px; top: -513px; z-index=5000">51102</div>
      <div class="meetingroom" id="m110" style="position: relative; left: 940px; top: -504px; z-index=5000">51103</div>
      <div class="meetingroom" id="m111" style="position: relative; left: 940px; top: -495px; z-index=5000">51104</div>


    </div>
  </div>
</div>
</div>

%rebase base.htm title="Meeting room look up",user=user
