
<form id="form1" name="form1" method=GET action=".">
<table align=center>
 <tr>
   <td align=center>
       <label>
       <input type="text" name="searchtext" id="searchtext">
       </label>
    </td>
    <td>
       
       <label>
       <input type="submit" name="button" id="button" value="search">
       </label> <p>
    </td>
 </tr>
</table>

<table align=center>
    <tr> 
        <td align=center>
            <input type=checkbox name=INSTALL>
        </td>
        <td>
           INSTALL
        </td>
    </tr>
    
    <tr>
        <td align=center>
             <input type=checkbox name=PROBLEM>
        </td>
        <td>
             PROBLEM
        </td>
    </tr>
    <tr>
        <td align=center>
            <input type=checkbox name=VSC5>
        </td>
        <td>
           VSC5
        </td>
    </tr>
    
    <tr>
        <td align=center>
            <input type=checkbox name=VST5>
        </td>
        <td>
            VST5
        </td>        
    </tr>
    
    <tr>
        <td align=center>
            <input type=checkbox name=VSU5>
        </td>
        <td>
            VSU5
        </td>
    </tr>
    
    <tr>
        <td align=center>
            <input type=checkbox name=VSX4>
        </td>
        <td>
            VSX4
        </td>
    </tr>
    
    <tr>
        <td align=center>
             <input type=checkbox name=ZOSR12>
        </td>
        <td>
            ZOSR12
        </td>
    </tr>
    
</table>
</form>

%rebase base.htm title="USS search",user=user
