<script language="javascript">
    function prom(href)
    { 
      if(confirm("Are you sure to delete?")==true)
      {
      location.href=href; 
      }
    }

</script>

<div class="container">
  <div class="row">
    <div class="span12">

<p>&nbsp;</p>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{logdir}}</h2>
    </div>
    <div class="span3">
      <p><a href="../log_view_all">view all directories</a></p>
    </div>

    %if logdir.find("_delete")<=0:
    <div class="span3 offset1">
      <p><a onClick="prom('../log_delete/{{logdir}}')" href="#">delete this log directory</a></p>
    </div>
    %end

    </div class="span12">
%if readme_content:
 <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$README PREVIEW</h3>
 <pre>
   {{readme_content}}
 </pre>
%end
<h3>&nbsp;&nbsp;&nbsp;&nbsp;filelist:</h3>
<table>
<tr>
  <td>filename</td>
  <td>mode</td>
  <td>uid</td>
  <td>size</td>
  <td>create_time(GMT+0)</td>
  <td>modify_time(GMT+0)</td>
</tr>
%for file in filelist2:
<tr>
  <td>   
    <a href="../log_view_file/{{logdir}}/{{file[0]}}/">{{file[0]}}</a>
  </td>
  <td>
    {{file[1]}}
  </td>
  <td>
    {{file[2]}}
  </td>
  <td>
    {{file[3]}}
  </td>
  <td>
    {{file[4]}}
  </td>
  <td>
    {{file[5]}}
  </td>
</tr>

%end
</table>
<p>&nbsp;</p>
<h3>&nbsp;</h3>
<p><a href="../log_analytic/{{logdir}}">case analytic</a></p>

    </div>
  </div>
</div>
%rebase base.htm title=title,user=user
