<div class="container">
  <div class="row">
    <div class="span12">

<p>&nbsp;</p>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;{{logdir}}&nbsp;&nbsp;&nbsp;{{totaln}}</h2>
<p><a href="../log_view/{{logdir}}">view directory!</a></p>

<!-- new failures ! -->
<h3>&nbsp;&nbsp;&nbsp;&nbsp;new failures &nbsp;
  % len_new = len(newfailures)
  {{len_new}}
</h3>
%for i,newf in enumerate(newfailures):
  <p>{{i+1}},{{newf}}</p>
%end

<!-- PIN -->
<h3>&nbsp;&nbsp;&nbsp;&nbsp;PIN &nbsp;
  %len_pin = len(pins)
  {{len_pin}}
</h3>
%for i,pin in enumerate(pins):
  <p>{{i+1}},{{pin}}</p>
%end

<!-- known_failures -->
<h3>&nbsp;&nbsp;&nbsp;&nbsp;Know_failures &nbsp;
  %len_known = len(knowns)
  {{len_known}}
</h3>
%for i,knownf in enumerate(knowns):
  <p>{{i+1}},{{knownf}}</p>
%end


<!-- old failures-->
<h3>&nbsp;&nbsp;&nbsp;&nbsp;old failures &nbsp;
  %len_old = len(oldfailures)
  {{len_old}}
</h3>
%for i,(oldf_part1,oldf_part2) in enumerate(oldfailures):
  %if oldf_part1.find(" FIP") > 0 or oldf_part1.find(" INSPECT") > 0:
    <p>{{i+1}},  {{oldf_part1}}<a href="../log_case_search/{{oldfailures2[i]}}"><font color="green"> -- {{oldf_part2}}</font></a></p>
  %else:
     <p>{{i+1}},  {{oldf_part1}}<a href="../log_case_search/{{oldfailures2[i]}}"> -- {{oldf_part2}}</a></p>
  %end
%end

    </div>
  </div>
</div>


%rebase base.htm title=title,user=user
