<script language="javascript">
$(document).ready(function(){
   $("a").hover(function(){
       $("#readmediv").show();
       text1 = $(this).text();
       //$("#readmepre").text(text1);
       //console.log($(this).scrollTop());
       //console.log($(window).top());
       a_position = $(this).position();
       //console.log(x.top);

       $("#readmediv").css("top",(a_position.top-100)+"px");
       $("#readmepre").load("log_view_file_ajax/"+text1+"/$README/"); 
       
   },
   function(){
       $("#readmediv").hide();
       $("#readmepre").text("");
   }); 
 
});

</script>


<div id="readmediv" align="center" style="display:none; background-color:rgb(240,240,240);  width:400px; position:absolute; right:150px; z-index:3; " >
  <pre id="readmepre" style="text-align:left"></pre>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
<p>&nbsp;</p>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view all log directory &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/   <a href=".">search </a></h2>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;VSC5:</h3>
%for dir_w in vsc5list:
   %if dir_w.find("_delete") > 0:
        <p><a href="log_view/{{dir_w}}"><font color="gray">{{dir_w}}</font></a></p>
   %else:
        <p><a href="log_view/{{dir_w}}">{{dir_w}}</a></p>
   %end
%end
<p>&nbsp;</p>
<hr>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;VSU5:</h3>
%for dir_w in vsu5list:
   %if dir_w.find("_delete") > 0:
        <p><a href="log_view/{{dir_w}}"><font color="gray">{{dir_w}}</font></a></p>
   %else:
        <p><a href="log_view/{{dir_w}}">{{dir_w}}</a></p>
   %end
%end
<p>&nbsp;</p>
<hr>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;VSX4:</h3>
%for dir_w in vsx4list:
   %if dir_w.find("_delete") > 0:
        <p><a href="log_view/{{dir_w}}"><font color="gray">{{dir_w}}</font></a></p>
   %else:
        <p><a href="log_view/{{dir_w}}">{{dir_w}}</a></p>
   %end
%end
<p>&nbsp;</p>
<hr>


<h3>&nbsp;&nbsp;&nbsp;&nbsp;VST5:</h3>
%for dir_w in vst5list:
   %if dir_w.find("_delete") > 0:
        <p><a href="log_view/{{dir_w}}"><font color="gray">{{dir_w}}</font></a></p>
   %else:
        <p><a href="log_view/{{dir_w}}">{{dir_w}}</a></p>
   %end
%end
<p>&nbsp;</p>
<hr>

%if illegallist:

<h3>&nbsp;&nbsp;&nbsp;&nbsp;Illegal:</h3>
%for dir_w in illegallist:
   %if dir_w.find("_delete") > 0:
        <p><a href="log_view/{{dir_w}}"><font color="gray">{{dir_w}}</font></a></p>
   %else:
        <p><a href="log_view/{{dir_w}}">{{dir_w}}</a></p>
   %end
%end
<p>&nbsp;</p>
<hr>

%end

    </div>
  </div>
</div>
%rebase base.htm title=title,user=user
