%#template to generate a HTML table from a list of tuples (or list of lists, or tuple of tuples or ...)
<p>The open items are as follows:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="new/">new task</a></p>
<table border="1">
  <tr>
    <td>id</td>
    <td>task</td>
    <td>status</td>
    <td>manager</td>
  </tr>
%for row in rows:
  <tr>
  %for col in row:
    <td>{{col}}</td>
  %end
    <td> 
      <a href="item{{row[0]}}">display</a> &nbsp;
      <a href="edit/{{row[0]}}">edit</a> &nbsp;
      <a href="delete/{{row[0]}}">delete</a> &nbsp;
    </td>
  </tr>
%end
</table>
