<div class="container">
<div class="row">
  <div class="span12">
    <ul style="list-style:none; width: auto; ">
        <li style="float:left;width: auto; margin: 0px; padding: 0px 20px 0px 20px; "><a href="defect/">defect</a></li>
        <li style="float:left;width: auto; margin: 0px; padding: 0px 20px 0px 20px; "><a href="defect/draw/">defect draw</a></li>
        <li style="float:left;width: auto; margin: 0px; padding: 0px 20px 0px 20px; "><a href="program/">program</a></li>
    </ul>
    <img src="/static/ussdefects/ussdefect1.png">
    <img src="/static/ussdefects/ussdefect2.png">
    <img src="/static/ussdefects/ussdefect3.png">
  </div>
</div>
</div>
%rebase base.htm title="USSFVT defect stat...",user=user
