<script type="text/javascript" src="/static/js/lib/jquery/jquery-ui.min.js"></script>
<link  rel="stylesheet" href="/static/css/jquery-ui.css" />      
<script>

</script>

<div class="container">
<div class="row">
  <div class="span12">

    <form action="." method="post">
      

      <table class="table">
      <tr>
        <td>id</td>
        <td>
			<input type="text" name="id" value="{{ddid}}"  disabled="true"/>
        </td>
      </tr>
      <tr>
        <td>projectid</td>
        <td>
			<input type="text" name="projectid" value="{{projectid}}"  readOnly="true"/>
        </td>
      </tr>
      <tr>
        <td>datepoint:</td>
        <td>
          <input type="text" name="datepoint" value="{{datepoint}}"/> such as 2013-02-02
        </td>
      </tr>
      <tr>
        <td>plan_attempt:</td> 
        <td>
          <input type="text" name="plan_attempt" value="{{plan_attempt}}"/>
        </td>
      </tr>
      <tr>
        <td>plan_succ:</td>
        <td>
          <input type="text" name="plan_succ" value="{{plan_succ}}"/> 
        </td>
      </tr>
      <tr>
        <td>actual_attempt:</td>
        <td>
          <input type="text" name="actual_attempt" value="{{actual_attempt}}"/>
        </td>
      </tr>
      <tr>
        <td>actual_succ:</td>
        <td>
          <input type="text" name="actual_succ" value="{{actual_succ}}"/>
        </td>
      </tr>
      <tr>
        <td>comment:</td>
        <td>
          <input type="text" name="comment" value={{comment}}"" style="width:600px"/>
        </td>
      </tr>
      <tr>
        <td>update Current number?</td>
        <td>
          <input type="checkbox" name="current_flag"><p>
        </td>
        
      </tr>
      <tr>
        <td>
          <input type="submit" value="modify">
        </td>
        <td>&nbsp;</td>
      </tr>

      </table>

    </form>

  </div>
</div>
</div>
%rebase base.htm title="USSFVT projects new",user=user
