

<p><a href="../add/">new_user</a></p>
<table border="1">
  <tr>
    <td>id</td>
    <td>username</td>
    <td>fullname</td>
    <td>email</td>
    <td>password</td>
    <td>manage</td>
  </tr>
%for user2 in users:
  <tr>
      <td>{{user2[0]}}</td>
      <td>{{user2[1]}}</td>
      <td>{{user2[2]}}</td>
      <td>{{user2[3]}}</td>
      <td>{{user2[4]}}</td>
      <td><font color='gray' >delete</font> &nbsp;
        <a href="../modify/{{user2[0]}}/">modify</a>
      </td>
      </td>
  </tr>
%end
</table>
%rebase base.htm title=title,user=user
