<script language="javascript">
    function prom(href)
    { 
      if(confirm("Are you sure to delete?")==true)
      {
      location.href=href; 
      }
    }

</script>

<div class="container">
<div class="row">
  <div class="span12">
  
<p><a href="../add/">new_user</a></p>
<table class="table">
  <tr>
    <td>id</td>
    <td>username</td>
    <td>fullname</td>
    <td>email</td>
    <td>password</td>
    <td>role</td>
    <td>manage</td>
  </tr>
%for user2 in users:
  <tr>
      <td>{{user2[0]}}</td>
      <td>{{user2[1]}}</td>
      <td>{{user2[2]}}</td>
      <td>{{user2[3]}}</td>
      <td>{{user2[4]}}</td>
      <td>{{user2[5]}}</td>
      <td>
         <a onClick="prom('../delete/{{user2[0]}}')" href="#">delete</a> 
        <a href="../modify/{{user2[0]}}/">modify</a>
      </td>
  </tr>
%end
</table>

  </div>
</div>
</div>
%rebase base.htm title=title,user=user
