

<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $("#twoweek_box").click(function(event){
     //alert($(this).attr("checked"));
     if($(this).attr("checked")=="checked"){
        $("#twoweek_tr").attr("class","success");
     }
     else{
        $("#twoweek_tr").attr("class","");
     }
  });
});

</script>


 
<div class="container">
  <div class="row">
    <div class="span3">

<form action='.?next={{nexturl}}' method='POST'>
  <table class="table">
    <tr>
      <td>
        username
      </td>
      <td>
        <input type="text" name="username">
      </td>
    </tr>
    <tr>
      <td>
        password
      </td>
      <td>
        <input type="password" name="password">
      </td>
    </tr>
    <tr id="twoweek_tr">
      <td colspan="2"><input id="twoweek_box"type=checkbox name="two_weeks">&nbsp;login two weeks</td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="submit">
      </td>
      <td>
        <input type="reset" value="reset">
      </td>
    </tr>
  </table>
</form>

    </div>
  </div>
</div>

%rebase base.htm title=title,user=user
