
<form action="." method="POST">

<table border="1">
  
  
    <tr>
      <td>
        username
      </td>
      <td>
        <input type="text" name="username" value="{{users[1]}}" disabled readonly>
      </td>
    </tr>
    <tr>
      <td>
        password
      </td>
      <td>
        <input type="password" name="password" value="{{users[4]}}">
      </td>
    </tr>
    <tr>
      <td>
        fullname
      </td>
      <td>
        <input type="text" name="fullname" value="{{users[2]}}">
      </td>
    </tr>
    <tr>
      <td>
        email
      </td>
      <td>
        <input type="text" name="email" value="{{users[3]}}">
      </td>
    </tr>
     <tr>
      <td>
        type
      </td>
      <td>
     <select name="role"  readonly>
      %if users[5] == "0"  :
        <option value="0" selected>Adminstrator   
        <option value="1">Superuser    
        <option value="2">User 
      %elif  users[5] == "1":  
        <option value="0" >Adminstrator   
        <option value="1" selected>Superuser    
        <option value="2" >User  
      %else :   
        <option value="0" >Adminstrator   
        <option value="1" >Superuser    
        <option value="2" selected>User 
      %end 
      </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="submit">
      </td>
      
      <td>
        <input type="reset" value="reset">
      </td>
      
    </tr>
  </table>

</form>

%rebase base.htm title="modify thew user",user=user
