

<script language="javascript">
    function delcfm() {
        if (!confirm("Are you sure?")) {
            window.event.returnValue = false;
        }
    }
</script>


<font size=4> Account Management</font> &nbsp;

<form method="POST" action="../add/">
  <table border="5">
     <tr>
        <th>User Name</th>
        <th>Amount of Recharge</th>
        <th>Description</th>
     </tr>
     <tr>
        <td>
            <select name="orderuser">
            %for username2 in dinner.users:
              <option 
                 %if username2 == user.username:
                     selected
                 %end
              >{{username2}}
            %end
            </select><p>
        </td>
        <td>  
            <textarea name="money" rows=1 cols=15>
            </textarea>
            <P>
        </td> 
        <td>
            <textarea name="description" rows=1 cols=15>
            </textarea>
            <P>                                                 
        </td>
     </tr>         
  </table>
  
  <input type="submit" value="Recharge">
</form>

  <p>&nbsp;</p>
    <table border="1">
        <tr>
          <font size=4> Users Accounts Information</font> &nbsp;
        </tr>
        <tr>
          <th>User Name </th>
          <th>Accounts</th>

          
        </tr>
         %for account in dinner.accounts.accounts:
          <tr>
             <td>{{account[0]}} </td>
             <td>{{account[1]}} </td>
          </tr>
         %end
      </table>       
    <p>&nbsp;</p>
      <table border="1">
        <tr>
          <font size=4> History list</font> &nbsp;
        </tr>
        <tr>
          <th>id</th>
          <th>operator</th>
          <th>user</th>
          <th>date</th>
          <th>money</th>
          <th>description</th>
          
        </tr>
         %for historyitem in dinner.history.historyitems:
         <tr>
          <td>{{historyitem.id}} </td>
          <td>{{historyitem.operator}} </td>
          <td>{{historyitem.user}} </td>
          <td>{{historyitem.date}} </td>
          <td>{{historyitem.money}} </td>
          <td>{{historyitem.description}} </td>
          
        </tr>
         %end
      </table>
      

%rebase base.htm title="welcome to USS FVT's site",user=user
