
<script src="/static/js/lib/dojo/dojo.js"	data-dojo-config="isDebug: true, async: true"></script>

        <script>

			require(["dojo/fx", "dojo/on", "dojo/dom", "dojo/domReady!"], function(fx, on, dom) {
			        //var report_button = dom.byId("consume_report_button"),
		         	wipeTarget2 = dom.byId("consume_report_div");
                    var dd2 = document.getElementById("consume_report_button");

				    on(dd2, "click", function(evt){

                    //alert(dd2.value);

                     if(dd2.value == "+"){
                       dd2.value = "-";
                  	   fx.wipeIn({ node: wipeTarget2 }).play();
                     }else{
                       dd2.value = "+";
                       fx.wipeOut({ node: wipeTarget2 }).play();
                     }

				});

			});

</script>

<script language="javascript">
    function delcfm() {
        if (!confirm("Are you sure?")) {
            window.event.returnValue = false;
        }
    }

    function  closeReport(reportid){
    //alert(reportid);
    //confirm('hahah');
    var bookreport = document.getElementById(reportid);
    bookreport.style.display='none';
    return   false;
    }

    function  openReport(reportid){
    //alert(reportid);
    var bookreport = document.getElementById(reportid);
    bookreport.style.display='block';
    return   false;
    }

    /*
    var consume_report = function(bb){
    //var dd = bb.parentNode;
      var dd2 = document.getElementById("consume_report_div");
      if(bb.value == "+"){
        bb.value = "-";
        dd2.style.display = "block";
      }else{
        bb.value = "+";
        dd2.style.display = "none";
      }
    }
    */

</script>

<STYLE TYPE="text/css">
      .white{
        background-color:#FFFFFF;
        /* background-color:#F5E2EC; */
      }

      .whitesubmit{
        background-color:#FFFFFF;
        border-left: ButtonHighlight 0px solid;
        border-right: ButtonShadow 0px solid;
        border-top: ButtonHighlight 0px solid;
        border-bottom: ButtonShadow 0px solid;
      
      }

     .input-xxxlarge {
      width: 730px;
      }



</STYLE>

<div  class="container">

  <div class="row">
    <div class="span12">


<div align="center">
   <b>Your balance is :{{balance}}元</b>&nbsp;<input id="consume_report_button" type="button" value="+">
</div>
    <div id="consume_report_div" style="display:none; width:800px; position:absolute; left:400px; top:120px; z-index:3; ">
         <textarea  class="input-xxxlarge" name="menudata" rows="22" cols="80" style="background:#BBBBBB;">{{consume_report}}
         </textarea>
    </div>

<table class="table" border="5" cellspacing="20"  width="1024px">
% menucount = 0
%for menu in dinner.menus:
  %if menu.active == today:
   % menucount += 1
   <tr>
     <td class="menu0" bgcolor="white">
       <p>&nbsp;</p>
      <b>RESTAURANT:</b> {{menu.title}} &nbsp;<br>
      <b>ACTIVE:</b> {{menu.active}}&nbsp;<br>
      <b>CONFIRM:</b> {{menu.confirm}}&nbsp;<br>

      <form method="POST" action="."> 
       
        <input type=hidden name="menuid" value="{{menu.id}}" readonly="true"> <br>
        Owner:
        <select name=users>
        %for user_temp in dinner.users:
            %if user_temp == user.username:
                <option selected value={{user_temp}}>{{user_temp}}
            %else:
            <option value={{user_temp}}>{{user_temp}}
            %end
        %end
        </select><p>
      
      <table class="table  table-hover" border="0" >
        <tr class="success">
          <td width="30px">id</td>
          <td width="60px">price</td>
          <td width="500px">description</td>
          <td width="70px">select</td>
        </tr>
        %for menuitem in menu.menuitems:
        <tr>
          <td>{{menuitem.id}}</td>
          <td>{{menuitem.money}}</td>
          <td>{{menuitem.description}}</td>
          <td align="left">
            <input type=radio name="book_select" value="{{menuitem.id}}" checked>
          </td>
        </tr>
        %end
        
        <tr>
          <td></td>
          <td align="left">
          <input type=text name="item_price"> 
          </td>
          <td align="left">
          <input type=text name="item_description" size="60" value="customize description">
          </td>
          <td align="center">
            <input type=radio name="book_select" value="0">
          </td>
        </tr>        
        
        
        <tr>
          <td colspan="4" class="whitesubmit" align="right">

            <input  type=submit value="order" 
                   %if menu.confirm != "FALSE":
                   disabled
                   %end
            >

          </td>
        </tr>
      </table>

       %if menu.confirm != "FALSE": 
       <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      This menu has been confirmed today, if you want to order some more food, please contact the admin
       %end
      </form>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><b>book record:</b>&nbsp;&nbsp; <input type="button" title="+" value="display for copy" onclick="openReport('bookreport{{menu.id}}')"></p> 
      <table border="1"  class="table table-striped">
        <tr>
          <td>operator</td>
          <td>user</td>
          <td>date</td>
          <td>money</td>
          <td width="500px">description</td>
          %if menu.confirm == "FALSE":
          <th>operate</th>
          %end
        </tr>
        

        %for historyitem in menu.historyitems:
         <tr>
          <td>{{historyitem.operator}}</td>
          <td>{{historyitem.user}}</td>
          <td>{{historyitem.date}}</td>
          <td>{{historyitem.money}}</td>
          <td>{{historyitem.description}}</td>
           %if menu.confirm == "FALSE":
          <td>
            <a href="../book_delete/{{menu.id}}/{{historyitem.id}}" onClick="delcfm()">delete</a>
          </td>
         %end
        </tr>
        %end
      </table>
      %if menu.confirm == "FALSE" and user.username in dinner.admins:
      <a href="../confirm/{{menu.id}}" onClick="delcfm()">confirm</a>
      %end
      <p>&nbsp;</p>   

      <!--          display detail report          -->      

<div id="bookreport{{menu.id}}" align="center" style="display:none; width:400px; position:relative; left:50px; top:-40px; z-index:3;  " >

<table width="600" border="0" cellpadding="0" cellspacing="0" style="border: 0 solid #e7e3e7; border-collapse: collapse ;" >
<tr>
<th>
<div align="right">{{menu.title}}&nbsp;&nbsp;&nbsp;&nbsp;<a href=JavaScript:; class="STYLE1" onclick="closeReport('bookreport{{menu.id}}');">[关闭]</a> &nbsp;&nbsp;&nbsp;&nbsp;</div>
</th>
</tr>
<tr>
<td height="130" align="center">
                <textarea class="input-xxxlarge" name="menudata" rows="18" cols="80">{{menu.reporttext}}
                </textarea>
</td>
</tr>
</table>
</div>




     </td>
  </tr>
  %end
%end

</table>

%if menucount == 0:
<div align="center">
   <b>The admin has not published any menu today. Contact Yu Jia first.</b>
</div>
%end



    </div>
  </div>
</div>




%rebase base.htm title="welcome to USS FVT's site",user=user


